.avatarContainer {
    border-radius: 30px;
    width: 48px;
    height: 48px;
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    min-width: 48px;
    overflow: hidden;
}

.avatarContainer > img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}